h1{
    width: 50%;  
    padding: 0px;
    text-decoration: underline #000000;
    margin-left: auto;
    margin-right: auto;
    font-size: 4em;
    font-weight: bold; 
    text-align: center;
  }
  
  td, th {
    padding: 10px;
    border: 1px solid;
    text-align: center;
  }
  
  img {
    width: 10em;
    padding: 0.3em;
    border: 0em;
    margin: 0em;
  } 
  #planets{
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }
  
  #planets{
    background-color:  #e6ffe6;
    border: 0px;
  }
  
  .planetImg{
    background-color:  #000000;
  }
  
  
  .planet-names{
    color: #000000;
    background-color:  #e6ffe6;
    font-size: 2em;
    font-weight: bold;
  }
  
  .side-titles{
    background-color:  #e6ffe6;
    text-align: left;
  }
  
  .side-titles-column{
    background-color: #e6ffe6;
    text-align: left;
  }
  
  .hover:hover td{
    background-color: #eeffcc ;
  } 
  
  
  .mint {
    background-color:  #e6ffe6;
  }