h1{
    width: 50%;  
    padding: 0px;
    text-decoration: underline #b981e1;
    margin-left: auto;
    margin-right: auto;
    font-size: 4em;
    color: #FFFDD0;
    font-weight: bold; 
    text-align: center;
  }
  
  td, th {
    padding: 10px;
    border: 1px solid;
    text-align: center;
  }

  body{
    background-image: url(/images/space.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #1f1a36;
    font-size: 30px;
    }
  
  img {
    width: 10em;
    padding: 0.3em;
    border: 0em;
    margin: 0em;
  } 
  
  .planetImg{
    background-color: #1d1d2e;
  }
  
  #planets{
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }
  
  #planets{
    background-color: #FFFDD0;
    border: 0px;
  }
  
  .PlanetNames{
    color: #008080;
    background-color: #FFFDD0  ;
    font-size: 2em;
    font-weight: bold;
  }
  
  .headings{
    background-color: #FFFDD0 ;
    text-align: left;
  }
  
  .hover-facts:hover td{
    background-color: #FFB6C1 ;
  } 
  
  .pname{
    color: #008080;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .teal {
    background-color: #008080 ;
  }
  
  .cream {
    background-color: #FFFDD0 ;
  }