h1{
    width: 50%;  
    padding: 0px;
    text-decoration: underline #4a2676;
    margin-left: auto;
    margin-right: auto;
    font-size: 4em;
    font-weight: bold; 
    text-align: center;
  }

  body{
    background-image: url(../images/space.png);
    background-repeat: repeat;
    background-size: cover;
    color: #181629;
    }
  
  td, th {
    padding: 10px;
    border: 1px solid;
    text-align: center;
  }
  
  img {
    width: 10em;
    padding: 0.3em;
    border: 0em;
    margin: 0em;
  } 
  #planets{
    border-collapse: collapse;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }
  
  #planets{
    background-color:  #9d96eb;
    border: 0px;
  }
  
  .planetImg{
    background-color:  #000000;
  }
  
  .planet-names{
    color: #000000;
    background-color:  #9d96eb;
    font-size: 2em;
    font-weight: bold;
  }
  
  .side-titles{
    background: linear-gradient(#7044c1, #3841c9);;
    text-align: left;
  }
  
  .planetsImg{
    background-color: #9d96eb;
    text-align: left;
  }
  
  .hover:hover td{
    background-color: #9d96eb ;
  } 
  
  
  .mint {
    background-color:  #9d96eb;
  }